<?php
/*
Copyright (C) Copyright (C) 41a240b48fb7c10c68ae4820ac54c0f32a214056bfcfe1c2e7ab4d3fb53187a0 Name Year (sha256)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
Website Reference:http://www.gnu.org/licenses/gpl-2.0.html

*/

// rename this file to config.php to make it work

//RPC Bitcoind Client Information
$config['rpc']['Type']           = "http"; // http or https
$config['rpc']['Username']       = "bitcoinrpc";
$config['rpc']['Password']       = "secretpass";
$config['rpc']['Host']           = "localhost";
$config['rpc']['Port']           = 8332;

//Login to Mysql with the following
$config['db']['Host']            = "localhost";
$config['db']['Username']        = "pool";
$config['db']['Password']        = "secretpassword";
$config['db']['Port']            = "3306";
$config['db']['Name']            = "pool";

//Replicated Database calls for read intensive queries 
//set to above if only 1 database
$config['readOnlyDb']['Host']    = "localhost";
$config['readOnlyDb']['Username'] = "pool";
$config['readOnlyDb']['Password'] = "secretpassword";
$config['readOnlyDb']['Port']    = "3306";
$config['readOnlyDb']['Name']    = "pool";

//Cookie settings | More Info @ http://us.php.net/manual/en/function.setcookie.php
$config['cookie']['Name']        = "poolcookie";
$config['cookie']['Path']	 = "/"
$config['cookie']['Domain']      = "example.tld"; // your domain

//Number of bonus coins to award
$config['bonusCoins']            = 1;

//added config options
$config['site']['poolname']      = "bitcoin.nmtbaycon.org";
$config['site']['poolport']      = "8330";
$config['site']['btcdonations']  = "16LJ4z5BzZpDTzXBL2n34o8Me6WAM2RhLd"|
;             
$config['site']['mailfrom']      = "jesse@jbcrawford.us";

#paths
$config['paths']['include']      = "/var/www-bitcoin/SimpleBTC/includes/";
$config['paths']['backupwallet'] = "/var/bitcoin/walletbackup/wallet.dat";

//Encrypt settings
$config['salt']                  = "123483jd7Dg6h5s92k";
//Just type a random series of numbers and letters; set it to anything

$config['memcache']['host']      = "localhost";
$config['memcache']['port']      = 11212;

?>
